*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-wrap{
    background-color: blue;
    width: 100%;
    height: 962px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 500px;
    width: 450px;
    background-color: white;
}
form{
    display: flex;
}
form .input-wrap{
    flex: 4;
    margin-top: 20px;
    margin-left: 40px;
}
form .button-wrap{
    flex: 1;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    margin-right: 40px;
    display: block;
}
.input-wrap input{
    width: 95%;
    padding: 8px 15px;
    border-radius: 6px;
    border: 2px solid blue;
    font-weight: bold;
    font-size: 16px;
}
.button-wrap button{
    padding: 8px 15px;
    border-radius: 6px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    font-size: 16px;
}
.button-wrap  :hover{
    cursor: pointer;
}
.input-wrap :hover{
    border: 2px solid blue;
}

.todoInput{
    margin-top: 80px;
    margin-left: 40px;
}
.todoInput input{
    padding: 20px 20px;
    width: 90%;
    background-color: #00fff2;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-bottom: 10px;
    font-weight: 700;
    color: black;
    font-size: 15px;
}
.todoInput button{
    margin-left: -75px;
    padding: 8px 6px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
}
.todoInput :hover{
    cursor: pointer;
}
