*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-wrap{
    background-color: blue;
    width: 100%;
    height: 972px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    height: 500px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}
td button{
    border: 1px solid lightgray;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
td :hover{
    cursor: pointer;
    
}
